@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image
{
  background-image: url('https://cdn.pixabay.com/photo/2016/11/30/20/58/programming-1873854_960_720.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 380px;
}
